# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://help.github.com/actions/language-and-framework-guides/publishing-nodejs-packages
name: Node.js Package

on:
  push:

jobs:
  publish-api:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: api_ftp_deployments
        env:
          FTP_USER :  ${{ secrets.FTP_USERNAME }}
          FTP_PASS :  ${{ secrets.FTP_PASSWORD }}
        uses: airvzxf/ftp-deployment-action@latest
        with:
          server: 35.183.135.170
          user: $FTP_USER
          password: password
          local_dir: ./api
          remote_dir: ./api
          delete: "false"
          max_retries: "1"
          no_symlinks: "false"
          ftp_ssl_allow: "true"
          ftp_use_feat: "true"
          ftp_nop_interval: "9"
          net_max_retries: "0"
          net_persist_retries: "11"
          net_timeout: "13s"
          dns_max_retries: "17"
          dns_fatal_timeout: "never"
           


